* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #333;
  font-size: 1.1em;
}

.hero-block {
  background-image: url("/assets/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding: 0 1.5em;
  color: #fff;
}

.hero-title {
  padding-top: 100px;
  font-size: 2em;
}

.hero-text {
  padding: 1em 0;
  max-width: 65%;
  margin: 0 auto;
}

.hero-button {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
  cursor: pointer;
}

.web-application-section {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

.web-application-container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 980px;
}

.web-application-title {
  padding: 1em 0;
  font-size: 1.5em;
}

.web-application-text {
  display: inline-block;
  max-width: 48%;
  box-sizing: border-box;
}

.cards-section {
  padding: 2em 1em 1em;
  background-color: #333;
}

.cards-container {
  max-width: 980px;
  margin: 0 auto;
  column-count: 3;
  column-width: 31%;
}

.card-content {
  padding: 26px;
}

.card {
  background-color: #fff;
  margin-bottom: 1em;
}

.card-title {
  padding: 1em 0;
  font-size: 1.17em;
}

.card-text {
  padding: 1em 0;
}

img {
  width: 100%;
}

.we-handle-section {
  padding: 2em;
}

.we-handle-container {
  margin: 0 auto;
  max-width: 1500px;
}

.we-handle-title {
  font-size: 1.5em;
  padding: 1em 0;
}

.we-handle-text {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 65%;
}

.contact-section {
  color: #fff;
  font-size: 0;
}

.contact-container,
.about-container {
  padding: 2em;
  display: inline-block;
  box-sizing: border-box;
  max-width: 50%;
  background-color: #2690d4;
  font-size: 1.1rem;
  vertical-align: top;
}

.about-container {
  background-color: #333;
}

.contact-section-title,
.contact-section-text {
  padding: 1em 0;
}

.contact-email {
  padding: 1em 0;
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #000;
  padding: 2rem;
  color: #fff;
  font-size: 0;
}

.footer-text-1,
.footer-text-2 {
  display: inline-block;
  width: 50%;
  font-size: 1.1rem;
}

.footer-link {
  text-decoration: none;
  color: #2690d4;
}
