* {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #ffdddd;
}

.section {
  padding: 64px 16px;
}

header {
  background-color: #fff;
  color: #000;
  opacity: 70%;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header:hover {
  opacity: 100%;
  cursor: pointer;
}

.header-nav {
  padding: 8px 16px;
  display: inline-block;
  width: 22%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.header-nav:hover {
  background-color: #ccc;
}

#rsvp-link:hover {
  background-color: #000;
  opacity: 100%;
  color: #fff;
}

.hero-section {
  background-image: url("/assets/images/wedding_couple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}

.hero-section-title {
  font-size: 64px;
  font-weight: normal;
  font-weight: 400;
  margin-top: 224px;
}

.hero-description {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
}

.hero-date {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bolder;
}

.couple-section {
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}

.couple-section-title {
  margin: 10px 0;
  color: #757575;
  font-size: 36px;
}

.couple-section-photo {
  width: 100%;
  margin: 32px 0;
  border-radius: 4px;
}

.couple-section-description {
  line-height: 2;
  text-align: start;
  margin: 10px 0;
  font-style: italic;
}

.couple-section-container {
  margin: 15px 0;
}

.couple-section-button {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
}

.couple-section-button:hover {
  color: #000;
  background-color: #ccc;
}

.invated-section {
  background-image: url("/assets/images/flowers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #fff;
}

.invated-section-title {
  font-size: 64px;
  font-weight: normal;
  margin: 250px 0 10px 0;
}

.invated-section-description {
  font-size: 30px;
  margin: 45px 0 10px 0;
}

.weeding-section {
  margin: 0 auto;
  text-align: center;
  max-width: 980px;
}

.weeding-section-title {
  font-size: 36px;
  color: #757575;
  font-weight: normal;
  margin: 10px 0;
}

.weeding-section-photo {
  margin: 64px 0;
  border-radius: 8px;
  width: 100%;
}

.weeding-data-time-container {
  text-align: center;
  font-size: 0;
}

.when-container {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  font-size: 15px;
}

.where-container {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  font-size: 15px;
}

.weeding-data-title {
  font-size: 30px;
  font-weight: normal;
  margin: 10px 0;
}

.weeding-data-text {
  margin: 15px 0;
}
