* {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #ffdddd;
}

header {
  background-color: #fff;
  color: #000;
  opacity: 70%;
  padding: 8px 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header:hover {
  opacity: 100%;
  cursor: pointer;
}

.header-nav {
  padding: 8px 16px;
  display: inline-block;
  width: 22%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.header-nav:hover {
  background-color: #ccc;
}

#rsvp-link:hover {
  background-color: #000;
  opacity: 100%;
  color: #fff;
}

.hero-section {
  background-image: url("/assets/images/wedding_couple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  letter-spacing: 4px;
}

.hero-section-title {
  font-size: 64px;
  font-weight: normal;
  font-weight: 400;
  margin-top: 224px;
}

.hero-description {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
}

.hero-date {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bolder;
}
